*{
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	font-family: arial;
	font-size: 18px;
	color: #444;
	line-height: 25px;
}

.content{
	background-color: #f0f0f0;
	width: 800px;
	margin: 0 auto;
}

.header ,.footer{
	text-align: center;
	background-color: #ddd;
	padding: 10px;
	

}

.main-content{
	background-color: #fff;
	margin: 10px;
	padding: 5px 10px;
	min-height: 500px;

}

input[type = button],input[type = submit],input[type = reset]{
	width: 120px;
	padding: 2px 10px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor:pointer;
}

button{
	padding: 2px 10px;
	font-size: 20px;
	margin-bottom: 5px;
	cursor:pointer;
}

table{
	width: 520px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
}

input[type = text],textarea{
	width: 300px;
	padding: 5px 8px;
}

#select{
	width: 300px;
	padding: 5px 8px;
}

#showValue{
	width: 300px;
	padding: 5px 8px;
	height: 150px;
}

#show{
	color: red;
}